<h1><%= @book.title %></h1>
<h3>Edit the Chapter: <%= @chapter.title %></h3>
<%= simple_form_for [@book, @chapter]  do |f| %>
  <%= f.input :title %>
  <%= f.submit "Edit Chapter", class: "btn btn-primary" %>
<% end %>